.Roboto{
    font-family: 'Roboto';
}

.Open-Sans{
    font-family: 'Open Sans';
}

.Noto-Sans-JP{
    font-family: 'Noto Sans JP';
}

.Lato{
    font-family: 'Lato';
}

.Monserrat{
    font-family: 'Monserrat';
}

.Roboto-Condensed{
    font-family: 'Roboto Condensed';
}

.Source-Sans-Pro{
    font-family: 'Source Sans Pro';
}

.Poppins{
    font-family: 'Poppins';
}

.Oswald{
    font-family: 'Oswald';
}

.Noto-Sans{
    font-family: 'Noto Sans';
}

.Roboto-Mono{
    font-family: 'Roboto Mono';
}

.Raleway{
    font-family: 'Raleway';
}

.Ubuntu{
    font-family: 'Ubuntu';
}

.PT-Sans{
    font-family: 'PT Sans';
}

.Roboto-Slab{
    font-family: 'Roboto Slab';
}

.Merriweather{
    font-family: 'Merriweather';
}

.Nunito{
    font-family: 'Nunito';
}

.Playfair-Display{
    font-family: 'Playfair Display';
}

.Noto-Sans-TC{
    font-family: 'Noto Sans TC';
}

.Noto-Sans-KR{
    font-family: 'Noto Sans KR';
}

.Open-Sans-Condensed{
    font-family: 'Open Sans Condensed';
}

.Rubik{
    font-family: 'Rubik';
}

.Lora{
    font-family: 'Lora';
}

.Mukta{
    font-family: 'Mukta';
}

.Work-Sans{
    font-family: 'Work Sans';
}

.Nanum-Gothic{
    font-family: 'Nanum Gothic';
}

.Hind-Siliguri{
    font-family: 'Hind Siliguri';
}

.Nunito-Sans{
    font-family: 'Nunito Sans';
}

.Inter{
    font-family: 'Inter';
}

.Fira-Sans{
    font-family: 'Fira Sans';
}

.PT-Serif{
    font-family: 'PT Serif';
}

.Titillium-Web{
    font-family: 'Titillium Web';
}

.Quicksand{
    font-family: 'Quicksand';
}

.Noto-Serif{
    font-family: 'Noto Serif';
}

.Karla{
    font-family: 'Karla';
}

.Heebo{
    font-family: 'Heebo';
}

.Barlow{
    font-family: 'Barlow';
}

.Inconsolata{
    font-family: 'Inconsolata';
}

.Arimo{
    font-family: 'Arimo';
}

.Oxygen{
    font-family: 'Oxygen';
}

.Dosis{
    font-family: 'Dosis';
}

.PT-Sans-Narrow{
    font-family: 'PT Sans Narrow';
}

.Bebas-Neue{
    font-family: 'Bebas Neue';
}

.Josefin-Sans{
    font-family: 'Josefin Sans';
}

.Libre-Franklin{
    font-family: 'Libre Franklin';
}

.Yanone-Kaffeesatz{
    font-family: 'Yanone Kaffeesatz';
}

.Source-Code-Pro{
    font-family: 'Source Code Pro';
}

.Libre-Baskerville{
    font-family: 'Libre Baskerville';
}

.Anton{
    font-family: 'Anton';
}

.Mulish{
    font-family: 'Mulish';
}