:root{
    --black: #1f1f1f;
    --white: #faf0f0;
}

body{
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0;
}

.workSpace{
    display: flex;
    margin: 0 auto;
    width: 95%;
    height: 75vh;
    border: thin solid gray;
}

input[type="file"] {
    display: none;
}

.space{
    z-index: 100;
    position: relative;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.main-menu{
    max-width: 20vw;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: thin solid gray;
}

.main-menu > div,
.main-menu > label {
    margin: .8rem 0 0 0;
}

.menu_searcher-input{
    width: 100%;
}

.cards{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(225px,1fr));
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;
    
}

.card{
    border: 1px solid gray;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.card_img-space{
    margin-bottom: 0.5rem;
}

.card_section-title,
.card_section-content{
    word-wrap: break-word;
}

.filter{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    order: 1;
}

.dark{
    background-color: var(--black);
    color: var(--white);
}